In [1]:
import os
import subprocess
import dotenv
from pathlib import Path

# autoreload any .py scripts
%load_ext autoreload
%autoreload 2

# set the project's root directory as the notebooks' working directory
git_root = subprocess.run(
    ["git", "rev-parse", "--show-toplevel"], capture_output=True, text=True
).stdout.strip()

os.chdir(git_root)
print(git_root)

env_path = Path(git_root, "backend")
print(env_path)

/Users/nilsgandlau/code/hackathon-dc-aegis
/Users/nilsgandlau/code/hackathon-dc-aegis/backend

In [15]:
from src.utils import *

df = fetch_flu_data_2025()
df_clean = clean_flu_data(df)
df_clean

          date  flu_cases
0   2025-01-07     164789
1   2025-01-14     139867
2   2025-01-21     156848
3   2025-01-28     179654
4   2025-02-04     214953
5   2025-02-11     223003
6   2025-02-18     192789
7   2025-02-25     157318
8   2025-03-04     133624
9   2025-03-11     114401
10  2025-03-18     103843
11  2025-03-25      88011
12  2025-04-01      77481
13  2025-04-08      67091
14  2025-04-15      61275
15  2025-04-22      56537
16  2025-04-29      54812
17  2025-05-06      50070
18  2025-05-13      47525
19  2025-05-20      46575
20  2025-05-27      43272